<nav class="navbar navbar-expand-lg justify-content-between">
    <div class="container-fluid">
        <button class="btn ps-0 shadow-none">
            <span class="material-icons link" title="Toggle side Menu" (click)="clickEvent()">
                menu
            </span>
        </button>
        <div class="align-items-center d-flex">
            <span class="material-icons link" (click)="logout()" title="logout">
                logout
            </span>
        </div>
    </div>
</nav>